<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"  href="/static/css/bootstrap.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/static/js/bootstrap.js"></script>

    {% if title %}
    <title>{{title}} - GoCompile</title>
    {% else %}
    <title>GoCompile</title>
    {% endif %}
  </head>
  <body>
    <div class="container">
	<ul class="menu navbar">
	<li><a href=""><i ></i>Go-gramming</a></li>
        <li><a href="/index"><i ></i>Home</a></li>
	{% if g.user.is_authenticated() %}
        <li><a href="{{ url_for('logout') }}"><i ></i>Logout</a></li>
        {% endif %}
	</ul>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    </div>
    </body>
</html>
