<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"  href="/static/css/bootstrap.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

<script src="/static/js/codemirror/lib/codemirror.js"></script>
<link rel="stylesheet" type="text/css" href="/static/js/codemirror/lib/codemirror.css">
<script src="/static/js/codemirror/mode/javascript/javascript.js"></script>
<link href="/static/js/codemirror/theme/go-theme.css" type="text/css" rel="stylesheet" />
<link href="/static/js/codemirror/theme/base16-light.css" type="text/css" rel="stylesheet" />
<script src="/static/js/codemirror/addon/edit/matchbrackets.js"></script>

<style type="text/css">
   body { background: #32C0B4; }

.container-fluid{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}  
</style>

    {% if title %}
    <title>{{title}}: Go-gramming</title>
    {% else %}
    <title>Go-gramming</title>
    {% endif %}

<link rel="icon" type="image/ico" href="{{ url_for('static', filename = 'images/favicon.ico') }}"></link> 
<link rel="shortcut icon" href="{{ url_for('static', filename = 'images/favicon.ico') }}"></link> 

{% block main %}{% endblock %}

 </head>

  <body>
    <div class="container">
    {% block content %}{% endblock %}
  </div>
    </body>
</html>
