{% extends "menubar.html" %}
{% block head %}
<script type="text/javascript">

$(document).ready(function(){
    $("#popover").popover({
        placement : 'top',
	html: 'true',
	content: '<button name="btn" value="Delete" type="submit" class="btn btn-default">Yes</button>'+'<button name="btn" class="btn btn-default" onclick="$(&quot;#popover&quot;).popover(&quot;hide&quot;);">No</button>'
	});


$("#compile").click(
  function(e)
  {

       $.ajaxSetup({ cache: false });
       $( "<div class='alert alert-warning'><strong>Please Wait </strong> Compilation has started</div>" ).insertBefore( ".topofpage" );

  });




});

</script>

{% endblock %}

{% block within %}

<form class="topofpage" action="" method="post" name="login">

<div class="panel panel-default">
<div class="panel-heading">{{file.filename}}:
{% if  file.interpreted %}


    <div class="btn-group pull-right">
  <button name="btn" value="Save" type="submit" class="btn btn-default">Save</button>
<a type="button" href="{{url_for('run', filepath=file.filepath)}}" target="_blank" class="btn btn-default">Run</a>


    <a id="popover" class="btn btn-default" data-toggle="popover" title="Are you sure?" >Delete</a>

  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Copy</a></li>
    <li><a href="#">Move</a></li>
  </ul>

</div>
</div>
{% else %}
<div class="btn-group pull-right">

    <a id="popover" class="btn btn-default" data-toggle="popover" title="Are you sure?" >Delete</a>

  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Copy</a></li>
    <li><a href="#">Move</a></li>
  </ul>

</div>


    <div class="btn-group pull-right">
  <button name="btn" value="Save" type="submit" class="btn btn-default">Save</button>
  <button id='compile' name="btn" value="Compile" type="submit" class="btn btn-default">Compile</button>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
<li><a href="{{url_for('run', filepath=file.filepath)}}" target="_blank" >Run</a></li>
  </ul>

</div>
</div>



{% endif %}



<div class="panel-body">
<p>
</p>
   <textarea id="code" name="newcontent">{{file.content}}</textarea>

<script>
var cm = CodeMirror.fromTextArea(document.getElementById("code"), {
    matchBrackets: true,
    mode: "{{file.syntax}}",
    theme: "go-theme",
    lineNumbers: true,
    foldGutter: true,
    gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
    extraKeys: {
                        "F11": function(cm) {
                            cm.setOption("fullScreen", !cm.getOption("fullScreen"));
                        }}


  });
cm.setSize(null,600);
var savearea = $('textarea[name="newcontent"]').hide();
cm.on('change', function(){
	cm.save();
    });
</script>
</div>
</div>
</form>
{% if output %}
<div class="panel panel-default">
<div class="panel-heading">Compilation Errors:</div>
<div class="panel-body">
<pre class="pre-scrollable">{{output}}</pre>
</div>
</div>
{% endif %}
{% endblock %}
