{% extends "menubar.html" %}
{% block head %}
<script type="text/javascript">

$(document).ready(function(){
    $("#popover").popover({
        placement : 'top',
	html: 'true',
	content: '<button name="btn" value="Delete" type="submit" class="btn btn-default">Yes</button>'+'<button name="btn" class="btn btn-default" onclick="$(&quot;#popover&quot;).popover(&quot;hide&quot;);">No</button>'
	});
});
</script>

{% endblock %}

{% block within %}
<form action="" method="post" name="login">

<div class="panel panel-default">
<div class="panel-heading">{{file.filename}}:

    <div class="btn-group pull-right">
  <button name="btn" value="Save" type="submit" class="btn btn-default">Save</button>
  <button name="btn" value="Compile" type="submit" class="btn btn-default">Compile</button>
  <a id="popover" class="btn btn-default" data-toggle="popover" title="Are you sure?" >Delete</a>
</div>
</div>

<div class="panel-body">
<p>
</p>
   <textarea id="code" name="newcontent">{{file.content}}</textarea>

<script>
var cm = CodeMirror.fromTextArea(document.getElementById("code"), {
    matchBrackets: true,
    mode: "text/javascript",
    theme: "go-theme",
    lineNumbers: true
  });
var savearea = $('textarea[name="newcontent"]').hide();
cm.on('change', function(){
	cm.save();
    });
</script>
</div>
</div>
</form>
<pre class="pre-scrollable">{{output}}</pre>
{% endblock %}
