{% extends "base.html" %}
{% block content %}
<nav class="navbar navbar-default" role="navigation">

<ul class="nav navbar-nav">
<li><a href=""><i class="icon-wrench"></i> Commit</a></li>
<li><a href=""><i class="icon-wrench"></i> Push</a></li>
<li><a href=""><i class="icon-wrench"></i> Pull</a></li>
<li><a href=""><i class="icon-wrench"></i> Delete</a></li>
<li><a href=""><i class="icon-wrench"></i> View</a></li>
<li><a href=""><i class="icon-wrench"></i> Run</a></li>
<li><a href=""><i class="icon-wrench"></i> Compile</a></li>
<li><a href=""><i class="icon-wrench"></i> Validate</a></li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Create<b class="caret"></b></a>
	<form class="dropdown-menu" action="" method="post" name="addfile">
        {{form.hidden_tag()}}

  	<li><a>Filename:</a></li>
	<li><a>{{form.filename()}}</a></li>
	<li><a>{{form.repository()}}</a></li>
	<li><a class="menuform"><input type="submit" value="Add"></a></li>	
	</form>
</li>
</ul>
</nav>
{% block within %}{% endblock %}
{% endblock %}
