<!-- extend from base layout --> {% extends "base.html" %}

{% block main %}
<script type="text/javascript">
  setInterval(
    function()
    { 
       $.ajaxSetup({ cache: false });
       var encoded = encodeURIComponent('/get_output/{{processid}}');
       var p = $.getJSON(
          $SCRIPT_ROOT + encoded,
          {},
          function(data)
          {
            if(data.result != null)
	        var current = $("#output").text()
                $("#output").text(current + data.result);

         });

	setTimeout(function(){p.abort()},2000);

    },
    2000);
</script>


<style type="text/css">
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.container{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}

.row-fluid {height: 100%; display:table-cell; vertical-align: middle;}

.outputline{
  white-space: pre;
}
</style>


{% endblock %}


{% block content %}
<div class="row-fluid">
<div class="panel panel-default span7 col-md-4 col-md-offset-4">
  <div class="panel-body">


<textarea id="input" class="form-control" rows="3"></textarea>


<button id="update" class="btn btn-default" >Input</button>
<button id="kill" class="btn btn-default pull-right">Kill</button>



<script type="text/javascript">

$("#update").click(
  function(e)
  {
        e.preventDefault();

       $.ajaxSetup({ cache: false });
       var encoded = encodeURIComponent('/get_input/{{processid}}/' + $("#input").val());
       $.getJSON(
        $SCRIPT_ROOT + encoded,
        {},
        function()
        {
	  $("#input").val('');
       });

  });


$("#kill").click(
  function(e)
  {
        e.preventDefault();

       $.ajaxSetup({ cache: false });
       var encoded = encodeURIComponent('/kill_process/{{processid}}');
       $.getJSON( 
        $SCRIPT_ROOT + encoded,
        {},
        function()
        {
       });

  });
</script>


<pre id="output" class="outputline"></pre>



<p>
</p>
</div>  
</div>
</div>
{% endblock %}
