{% extends "base.html" %}

{% block main %}
<script type="text/javascript">
  setInterval(
    function()
    { 

       $.ajaxSetup({ cache: false });
       var encoded = encodeURIComponent('/get_output/');
       var p = $.getJSON(
	  '{{url_for('outputrefresh', processid=processid)}}',
          {},
          function(data)
          {
            if(data.result != null)
	        var current = $("#output").text();
                $("#output").text(current + data.result);

         });

	setTimeout(function(){p.abort()},500);

    },
    500);
</script>


<style type="text/css">
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.container{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}

.row-fluid {height: 100%; display:table-cell; vertical-align: middle;}

.outputline{
  white-space: pre;
}
</style>


{% endblock %}


{% block content %}
<div class="row-fluid">
<div class="panel panel-default span7 col-md-4 col-md-offset-4">
  <div class="panel-body">

<a class="navbar-brand" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename = 'images/go.png') }}" class="img-responsive" alt="Responsive image" border="0"></a>
<h3>Run: {{heading}}</h3>

<textarea id="input" class="form-control" rows="3" placeholder="Input to Program"></textarea>


<div class="btn-group pull-right">
<button id="update" class="btn btn-default" >Input</button>
<button id="kill" class="btn btn-default">Cancel</button>
</div>

<p>
</p>
<p>Output:</p>

<pre id="output" class="outputline"></pre>

<script type="text/javascript">

$("#update").click(
  function(e)
  {
        e.preventDefault();

       $.ajaxSetup({ cache: false });
       var encoded = encodeURIComponent('/get_input/{{processid}}/' + $("#input").val());
       var input = $("#input").val();
       $.getJSON(
        '{{url_for('inputrefresh', processid=processid)}}',
        {message: input},
        function()
        {
	  $("#input").val('');
       });

  });


$("#kill").click(
  function(e)
  {
        e.preventDefault();

       $.ajaxSetup({ cache: false });
       var encoded = encodeURIComponent('/kill_process/{{processid}}');
       var current = $("#output").text();
       $("#output").text(current + '----Process Killed----');
       $.getJSON( 
        '{{url_for('killProcess', processid=processid)}}',
        {},
        function()
        {
       });

  });
</script>




<p>
</p>
</div>  
</div>
</div>
{% endblock %}
