{% extends "menubar.html" %}

{% block head %}
<script type="text/javascript">

$(document).ready(function(){
    $("#popover").popover({
        placement : 'top',
        html: 'true',
        content: '<button name="viewbar" value="Delete" type="submit" class="btn btn-default">Yes</button>'+'<button name="btn" class="btn btn-default" onclick="$(&quot;#popover&quot;).popover(&quot;hide&quot;);">No</button>'
        });


$("#hold").click(function(e) {
    e.stopPropagation();
});

});

</script>
{% endblock %}


{% block within %}

<ol class="breadcrumb go-back">
{% for folder in heading %}
{% if folder.active %}
<li class="active go-back">{{folder.foldername}}</li>
{% else %}
  <li><a href="{{url_for('view', filepath=folder.folderpath)}}" class="go-header teal-hover">{{folder.foldername}}</a></li>
{% endif %}
{% endfor %}
</ol>


<form  action="" method="post" name="folder">
<div class="btn-group pull-right">
<a id="popover" class="btn page-menu" data-toggle="popover" title="Delete Folder?" >Delete</a>
  <button type="button" class="btn page-menu dropdown-toggle" data-toggle="dropdown">
    Folder Options <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
        <li><a>Copy/Move File:</a></li>
        <li><a id="hold">{{copyform.copydirs(class="form-control")}}</a></li>
<li><a><input name="viewbar" type="submit" value="Copy"></a><a><input name="viewbar" type="submit" value="Move"></a></li>
  </ul>
</div>
</form>

<br>
<br>

    {% for file in files %}
<form action="" method="post" name="login">
<div class="panel panel-default">
<div class="panel-heading">{{file.filename}}:

    <div class="btn-group pull-right">
<button id="remove" name="add" type="submit" value='{{file.filepath}}' class="btn btn-default">Favourite</button>
  <a type="button" href="{{url_for('edit', filepath=file.filepath)}}" class="btn btn-default">Edit</a>
</div>
 </div>

  <div class="panel-body">
	
    <p> 
    </p>
   <textarea id="code" name="newcontent">{{file.content}}</textarea>

<script>
    var area = document.getElementById('code');
    area.setAttribute('id','code{{file.filename}}');
var cm = CodeMirror.fromTextArea(document.getElementById('code{{file.filename}}'), {
    matchBrackets: true,
    mode: "{{file.syntax}}",
    theme: "go-theme",
    lineNumbers: true,
    readOnly: true
  });
var savearea = $('textarea[name="newcontent"]').hide();
cm.on('change', function(){
        cm.save();
    });
</script>


 </div>
</div>
</form>        
    {% endfor %}
{% endblock %}
